html,
body{
  padding: 0;
  margin: 0;
}
.page-container{
  width: 100vw;
  height: 100vh;
  position: relative;
}
.clearfix::before,
.clearfix:after{
  content: '';
  display: table;
}
.clearfix:after{
  clear: both;
}
.page-container .pic-404{
  width: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}