<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="/static/css/404.css" />
  <title>
    <?= title ?>
  </title>
</head>

<body>
  <div class="page-container clearfix">
    <img class="pic-404" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1606718518537&di=e3c3d6e59aaf90aa603a7148f71fb496&imgtype=0&src=http%3A%2F%2Fhbimg.b0.upaiyun.com%2F466b3d41a4f041f6525290e4f8888d0abfd3ee7c88b1-qsg1M5_fw658" alt="404" />
  </div>
</body>
<script type="text/javascript" src="//qzonestyle.gtimg.cn/qzone/hybrid/app/404/search_children.js" charset="utf-8" homePageUrl="<?= homePageUrl ?>" homePageName="回到我的主页"></script>
</html>